packages: [
  "atom-beautify"
  "atom-material-ui"
  "autocomplete-clang"
  "autocomplete-python"
  "base16-syntax"
  "build"
  "busy"
  "busy-signal"
  "code-peek"
  "dark-flat-ui"
  "export-html"
  "file-icons"
  "file-watcher"
  "flat-simple-dark-ui"
  "fonts"
  "git-plus"
  "intentions"
  "language-cmake"
  "language-latex"
  "language-matlab"
  "language-openscad"
  "language-pcb"
  "language-restructuredtext"
  "language-rust"
  "language-tcl"
  "language-verilog"
  "language-vhdl"
  "latex"
  "line-count"
  "line-count-status"
  "linter"
  "linter-gcc"
  "linter-pylama"
  "linter-rust"
  "linter-ui-default"
  "local-history"
  "minimap"
  "minimap-codeglance"
  "minimap-cursorline"
  "minimap-find-and-replace"
  "minimap-split-diff"
  "multi-cursor"
  "outlander-syntax"
  "outlander-ui"
  "package-sync"
  "python-snippets"
  "python-tools"
  "rust-api-docs-helper"
  "rustfmt"
  "script"
  "slim-dark-ui"
  "sort-lines"
  "split-diff"
  "symbol-gen"
  "symbols-tree-view"
  "todo-show"
  "vim-mode-plus"
]
